h1{
    text-align: center;
    text-decoration:dotted red underline;
}

p{
    text-align: left ;
    font-weight: bold;
    text-decoration:dotted yellow overline;
    line-height: normal;
    letter-spacing: 1px ;
    font-size: 15 px;
}

h2{
    font-weight: 700;
    text-decoration:wavy white line-through;
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration:wavy red underline;
}