* {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: #1b74e4;
}

#search {
    background-color: black;
    color: white;
}

#Login {
    background-color: aqua;
}

#Register {
    background-color: aqua;
}

input[type="text"]{
    color: red;
}

input[type="password"] {
    color: green;
}